html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #92ce92;
    color: #333;
}

.grid {
    display: grid;
  
}

.main {
    display: grid;
    grid-template-areas: "header header header"
    "article . aside"
    "footer footer footer";
    grid-template-columns: 1fr 64px 200px;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-rows: 100px;
}

.header {
    /* grid-area: header; */
    background: hotpink;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
}
.article {
    grid-area: article;
}
.aside {
    grid-area: aside;
}
.footer {
    grid-area: footer;
}